*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

section .main_tag{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

section h1{
    align-items: center;
    text-align: center;
    position: relative;
    font-size: 55px;
    top: 300px;
    color: #fff;
}

section .main_tag p{
    align-items: center;
    text-align: center;
    line-height: 22px;
    position: relative;
    top: 350px;
    text-align: center;
    color: #fff;
}

section .main_btn{
    align-items: center;
    padding: 10px 70px;
    position: relative;
    border-radius: 25px;
    margin-right: 30px;
    top: 400px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #31b7c9;
    z-index: 5;
    transition: 0.3s;
}

section .main_btn:hover{
    color: #000000; 
}

section .main_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #31b7c9;
    border-radius: 25px;
    z-index: -1;
    transition: 0.3s;
}

section .main_btn:hover::before{
    top: unset;
    width: 100%;
    bottom: 0;
}

section #ticket_section{
    margin: 10px 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(251, 214, 214, 0.5), rgba(206, 190, 190, 0.5)), url(ticket_bg.png);
    background-size: cover;
    background-position: center;
}

section #ticket_section h3{
    align-items: center;
    position: relative;
    font-size: 50px;
    top: 100px;
    color: #a54b99;
}

section #ticket_section img{
    width: 900px;
    cursor: pointer;
    z-index: 5;
    transition: 0.3s;
}

section #ticket_section img:hover{
    transform: scale(1.1);
}

section #ticket_section .ticket_btn{
    padding: 10px 70px;
    position: relative;
    border-radius: 25px;
    margin-right: 30px;
    top: -50px;
    color: #000000;
    text-decoration: none;
    border: 2px solid #e1b0ff;
    z-index: 5;
    transition: 0.3s;
}

section #ticket_section h4{
    align-items: center;
    position: relative;
    font-size: 12px;
    color: #a54b99;
}

section #ticket_section .ticket_btn:hover{
    color: #ffffff;
}

section #ticket_section .ticket_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ebc6ff;
    border-radius: 25px;
    z-index: -1;
    transition: 0.3s;
}

section #ticket_section .ticket_btn:hover::before{
    top: unset;
    width: 100%;
    bottom: 0;
}

section #mind_section{
    margin: 10px 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(251, 214, 214, 0.5), rgba(206, 190, 190, 0.5)), url(mind_bg_1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section #mind_section h5{
    align-items: center;
    position: relative;
    font-size: 50px;
    top: 100px;
    color: #54abb3;
}

section #mind_section img{
    width: 1000px;
}

section #mind_section .rev .rev-box{
    width: 90%;
    top: 150px;
    max-width: 600px;
    height: 200px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 5;
    transition: 0.3s;
}

section #mind_section .rev .rev-box:hover{
    transform: scale(1.4);
}

section #mind_section .rev-box .card{
    height: 300px;
    padding: 40px;
    color: #777;
    line-height: 22px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    z-index: 1;
    font-size: 12px;
}

section #mind_section .rev-box .profile{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

section #mind_section .rev-box .profile img{
    width: 70px;
    border-radius: 10%;
    margin-right: 20px;
}

section #mind_section .rev-box .profile h3{
    font-size: 26px;
    color: #08676e;
    margin-bottom: 8px;

}

section #mind_section .rev-box #slide{
    width: 100%;
    padding-right: 60px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

section #mind_section .rev-box .sidebar{
    width: 60px;
    height: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    background: #028f99;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

section #mind_section .rev-box .sidebar img {
    width: 30px;
    padding: 5px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

section #mind_section .rev-box .card::before{
    content: '';
    width: 110px;
    height: 110px;
    border-bottom-right-radius: 100%;
    background: #028f99;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

section #mind_section .rev-box ::selection{
    background-color: #028f99;
    color: #fff;
}

section .out_section{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(251, 214, 214, 0.5), rgba(206, 190, 190, 0.5)), url(out_bg.png);
    background-size: cover;
    background-position: center;
    align-items: center;
}

section .out_section h5{
    align-items: center;
    position: relative;
    font-size: 30px;
    top: 100px;
    color: #060606;
    font-style: oblique;
}

section .out_section .out_box {
    width: 90%;
    top: 150px;
    max-width: 600px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    overflow: scroll;
    cursor: pointer;
    z-index: 5;
    transition: 0.3s;
}

section .out_section .out_box:hover{
    transform: scale(1.1);
}

section .out_section .out_box .out_card{
    height: 1150px;
    padding: 40px;
    color: #777;
    line-height: 22px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    z-index: 1;
    font-size: 12px;
}

section .out_section .out_box .out_card .prof{
    margin-bottom: 40px;
}

section .out_section .out_box .out_card p{
    font-size: 15px;
    margin-bottom: 40px;
}

section .out_section .out_box .out_card img{
    height: 200px;
    width: 300px;
    display: flex;
    margin-bottom: 40px;
}

footer{
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgba(251, 214, 214, 0.5), rgba(206, 190, 190, 0.5)), url(footer_bg.png);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}

footer .footer_main{
    display: center;
}

footer .footer_main h4 {
    margin-bottom: 40px;
    font-size: 30px;
}

footer .footer_main h5{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
}

footer .footer_main a {
    padding: 10px 70px;
    border-radius: 10px;
    color: #000000;
    border: 2px solid #aeddff;
    background-color: #d5ecfd;;
    margin-right: 30px;
}
